<?xml version="1.0" encoding="UTF-8"?>
<suite name="Kirimo" verbose="1" thread-count="1">
    <test name="Test Login Logout nexus 5" preserve-order="true">
        <parameter name="udid" value="061d21df0b2bc24b"/>
        <!--<packages>-->
            <!--<package name="TestCase" />-->
        <!--</packages>-->
        <classes>
            <class name="TestCase.TestUIOrderPage" />
            <class name="TestCase.TestUIHomePage" />
        </classes>
    </test>
    <!--
    <test name="Test Login Logout" preserve-order="false">
        <parameter name="udid" value="http://192.168.1.30:4444/wd/hub"/>
        <classes>
            <class name="TestCase.TestLoginLogout"/>
        </classes>
    </test>
    <test name="Test Login Logout nexus 5" preserve-order="false">
        <parameter name="udid" value="061d21df0b2bc24b"/>
        <classes>
            <class name="TestCase.TestLoginLogout"/>
        </classes>
    </test>
    <test name="Test Login Logout nexus 6" preserve-order="false">
        <parameter name="udid" value="ENU7N15A28011693"/>
        <classes>
            <class name="TestCase.TestLoginLogout"/>
        </classes>
    </test>
    <test name="Test Oder Page" preserve-order="false">
        <classes>
            <class name="TestCase.TestOrderPage"/>
        </classes>
    </test>
    <test name="UI Drawer Menu" preserve-order="false">
        <classes>
            <class name="TestCase.TestUIDrawerMenu"/>
        </classes>
    </test>
    <test name="UI Home Page" preserve-order="false">
        <classes>
            <class name="TestCase.TestUIHomePage"/>
        </classes>
    </test>
    <test name="UI Instruction Page" preserve-order="false">
        <classes>
            <class name="TestCase.TestUIInstructionPage"/>
        </classes>
    </test>
    <test name="UI Login Page" preserve-order="false">
        <classes>
            <class name="TestCase.TestUILogInPage"/>
        </classes>
    </test>
    <test name="UI Order History Page" preserve-order="false">
        <classes>
            <class name="TestCase.TestUIOrderHistoryPage"/>
        </classes>
    </test>
    <test name="UI Order Page" preserve-order="false">
        <classes>
            <class name="TestCase.TestUIOrderPage"/>
        </classes>
    </test>
    <test name="UI Profil Page" preserve-order="false">
        <classes>
            <class name="TestCase.TestUIProfilePage"/>
        </classes>
    </test>-->
</suite>